$nunito:"Nunito",sans-serif;
$inter:"Inter",sans-serif;
$poppins:"Poppins",sans-serif;
$roboto:"Roboto",sans-serif;
$openSans:"Open Sans",sans-serif;


.signUpBox{
    background: rgb(233, 231, 231) !important;
    border-radius: 10px;
    margin-top: 80px !important;
    margin-bottom: 80px !important;
}
.signUpFormBox{
    padding: 20px;
    box-shadow: 20px 50px 50px rgba(0, 0, 0, 0.5);
    background: rgb(233, 231, 231) !important;
    border-radius: 10px;
}


.signUpParentContainer{
    background: #02050E !important;
    padding: 30px 80px !important;
}




.signUpInput{
    font-family: $poppins !important;
}

.signUpInput::-webkit-outer-spin-button,
.signUpInput::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
}

.signUpUpload{
    border:1px dotted black;
    padding: 10px;
}
.signUpUploadInfo{
    text-align: center !important;
    margin-top: 20px !important;
}
.signUpUploadInfoTitle{
    font-family: $poppins !important;
    text-align: center !important;
}


.signUpPreviousBtn{
    margin: 20px 0px 0px 20px !important ;
    background-color: black !important;
    
}
.signUpNextBtn{
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37) !important;
    backdrop-filter: blur(10.5px) !important;
    background-color: black !important;
}
.signUpSubmitBtn{
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37) !important;
    backdrop-filter: blur(10.5px) !important;
    background-color: black !important;
}

.signUpInput:active{
    border-color:#000000 !important;
}
@media only screen and (max-width: 992px) {
    .signUpParentContainer{
        padding: 20px 20px !important;
    }
    
   }