/* $nunito: "Nunito", sans-serif;
$inter: "Inter", sans-serif;
$poppins: "Poppins", sans-serif;
$roboto: "Roboto", sans-serif;
$openSans: "Open Sans", sans-serif;
"Ubuntu", sans-serif: "Ubuntu", sans-serif; */
.integratedTechnologiesContainer {
  background-color: #fff !important;
  padding: 30px 80px !important;
  margin-top: 30px !important;
}
.integratedTechnologiesImageBox{
    display: flex !important;
    flex-direction: row !important;
    justify-content: center !important;
    align-items: center !important;
    margin-top: 20px !important;
}
.integratedTechnologiesImage{
  margin-top: 20px !important;
  
}

.integratedTechnologiesContainerHeading {
    font-family: "Ubuntu", sans-serif !important;
    font-weight: 700 !important;
    text-align: center !important;
}
.integratedTechnologiesContainerSpan{
    color: #49A878 !important;

}
.ipfsImg{
    
  max-width: 300px !important;
  
}
.nodeImg{
  
  max-width: 240px !important;
}
.walletImg{
  max-width: 240px !important;
}
.metaImg{
  max-width: 240px !important;
}
@media only screen and (max-width: 1200px) {
  .integratedTechnologiesImage {
    align-items: center !important;
    margin-top: 20px !important;
  }
  .ipfsImg{    
    max-width: 200px !important;
  }
  .nodeImg{
    
    max-width: 200px !important;
  }
  .walletImg{
    max-width: 240px !important;
  }
  .metaImg{
    max-width: 240px !important;
  }
}
@media only screen and (max-width: 768px) {
  .techStackContainer {
    margin-top: 75px !important;

  }
  .ipfsImg{
    max-width: 150px !important;
  }
  .nodeImg{
    
    max-width: 150px !important;
  }
  .walletImg{
    max-width: 200px !important;
  }
  .metaImg{
    max-width: 200px !important;
  }
  .integratedTechnologiesImage {
    margin-top: 30px !important;
    align-items: center !important;
    width: 100% !important;
  }
  .heroSectionSubtitle{
    margin: 30px !important;
  }
  .integratedTechnologiesImageBox {
    display: flex !important;
    justify-content: center !important;
  }
  .integratedTechnologiesContainer {
    background-color: #fff !important;
    padding: 20px 20px !important;
  }
}